.block {
  display: block;
}

.inline {
  display: block;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 500;
}

.text-medium {
  font-weight: 600;
}

.text-bold {
  font-weight: 800;
}
