.page {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}

.page_content-center {
  justify-content: center;
  align-items: center;
}

.page__form {
  max-width: 600px;
  padding: 1.5rem 2rem;
}
